<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <script src="https://kit.fontawesome.com/131a015fe2.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script> <!-- Bootstrap CSS v5.2.1 -->

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/stylesheets/index.css">

</head>

<body>
  <div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
      <div class="header-box px-3 pt-3 pb-4 d-flex justify-content-between">
        <h1 class="fs-4 fw-bold"><span class="bg-white text-dark rounded shadow px-2 me-2">LM</span><span style="color: #9a56ff;">LIVE</span>MG</h1>
        <button class="btn d-md-none d-block close-btn px-2 py-0"><i class="fa-solid fa-bars"></i></button>
      </div>
      <ul class="list-unstyled px-2">
        <li><a href="/home" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-house" style="color: #9a56ff;"></i> Home</a></li>
        <li class="active"><a href="/following" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-heart" style="color: #9a56ff;"></i> Following</a></li>
        <li><a href="/freevideos" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-gift" style="color: #9a56ff;"></i> Free Videos</a></li>
        <li><a href="/exclusive" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-sack-dollar" style="color: #9a56ff;"></i> Exclusive Videos</a></li>
        <li><a href="/ownedvideos" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-handshake" style="color: #9a56ff;"></i> Owned Videos</a></li>
      </ul>
    </div>
    <div class="content">
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <div class="d-flex justify-content-between">
            <button class="btn px-1 py-0 open-btn text-white d-md-none"><i class="fa-solid fa-bars-staggered"></i></button>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <form class="d-flex mx-auto" role="search" action="/search" method="GET" onsubmit="search(event)">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-input" name="query">
              <button class="btn btn-outline-success" id="search-btn" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
              <li class="nav-item ">
                <a class="nav-link text-white d-flex mx-2" aria-current="page" href="/livedetails">
                  <i class="fa-solid fa-camera fa-xl my-auto mx-1" style="color:#9a56ff"></i>
                  <h4 class="fw-bold my-auto">
                    <span style="color:#9a56ff"> GO</span>LIVE
                  </h4>
                </a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link text-white" aria-current="page" href="/upload"><i class="fa-solid fa-cloud-arrow-up fa-xl my-auto"></i></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white my-auto" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-user fa-xl"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/profile/<%=username%>">Show Profile</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a></li>
                </ul>
              </li>
              <!-- Logout Modal -->
              <form action="/logout" method="POST" id="logout-form">
                <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header bg-dark">
                        <h5 class="modal-title" id="logoutModalLabel">Logout Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body bg-dark">
                        Are you sure you want to logout?
                      </div>
                      <div class="modal-footer bg-dark">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Logout</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid d-flex flex-wrap">
        <% following.forEach((user)=>{ 
          
          let video_length = 0
          followers_videos.forEach((video)=> {
            if (user.includes(video.username)){
              video_length ++
            }
          }) 
          let pfp_url;
          let followers_length;
          followers_following.forEach((following)=>{
            if (user == following.username){
            followers_length = following.followers.length;
            pfp_url = following.profilepic_url;
         
          }
          })

          let paid_video_count = 0
          followers_videos.forEach((video) => {
            if (user.includes(video.username)){
              if (video.video_status == "free") {
                paid_video_count ++
              }
            }
          })%>
        <div class="followers mt-3 ms-3">
          <a href="/profile/<%=user%>">
            <div class="card m-2 bg-dark">
              <div class="user text-center">
                <div class="profile mt-3">
                  <%if(pfp_url){ %>
                  <img src=<%=pfp_url%> class="rounded-circle" width="80" height="75">
                  <% }else{ %>
                  <img src="../public/images/default-pp.png" class="rounded-circle" width="80" height="80">
                  <% } %>
                </div>
              </div>
              <div class="mt-2 text-center">
                <h4 class="mb-0"><%=user %></h4>
                <div class="d-flex justify-content-between align-items-center mt-4 px-4 flex-wrap">
                  <div class="stats m-2">
                    <h6 class="mb-0">Followers</h6>
                    <span><%=followers_length%></span>
                  </div>
                  <div class="stats m-2">

                    <h6 class="mb-0">Videos</h6>
                    <span><%=video_length%></span>
                  </div>
                  <div class="stats m-2">
                    <h6 class="mb-0">Freebies</h6>
                    <span><%=paid_video_count%></span>
                  </div>
                </div>
              </div>
            </div>
            
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </div>

  <script src="../public/javascripts/autocomplete.js"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="../public/javascripts/style.js"></script>
</body>

</html>